
<!-- Footer -->
<footer class="page-footer font-small bg-primary" style="background: rgb(68,183,111); background: radial-gradient(circle, rgba(68,183,111,1) 34%, rgba(54,169,225,1) 100%, rgba(34,116,191,1) 100%);">
        
    <!-- Copyright -->
    <!-- <div class="footer-copyrig">

    </div> -->
    <div class="footer-copyright py-3">
        <img src="assets/img/logo-white.png" alt="Logo" style="width:75px; margin-left:10%">
        <!-- <span>Save TIME, Save MONEY, LESGO! </span> -->
    </div>
    <!-- Copyright -->

</footer>
<footer class="page-footer font-small  pt-4  " style="background-color:#424143; color:white">
    
    <!-- Footer Links -->
    <div class="container text-center text-md-left footer-lesgo">

        <!-- Grid row -->
        <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <h5 class="text-uppercase">PT LESGO INDONESIA PINTAR</h5>
            021-22962749
            <br>
            +62-812-8555-2245
            <br>
            Boston Square RK3/35, Kota Wisata, Kab Bogor
            <br>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-2 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase" style="font-size:1em">LESGO!</h5>

            <ul class="list-unstyled ">
                <li>
                <a href="#!">Tentang Kami</a>
                </li>
                <li>
                <a href="#!">Hubungi Kami</a>
                </li>
                <li>
                <a href="#!">Karir</a>
                </li>
                <li>
                <a href="#!">Blog</a>
                </li>
                <li>
                <a href="#!">FAQ</a>
                </li>
            </ul>

        </div>
        <div class="col-md-2 mb-md-0 mb-3">
                
            <!-- Links -->
            <h5 class="text-uppercase" style="font-size:1em">Pengguna LESGO!</h5>

            <ul class="list-unstyled ">
                <li>
                <a href="#!">Cara Daftar</a>
                </li>
                <li>
                <a href="#!">Pembayaran</a>
                </li>
                <li>
                <a href="#!">Terms and Conditions</a>
                </li>
                <li>
                <a href="#!">Bantuan Lainnya</a>
                </li>
            </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase" style="font-size:1em">Partner LESGO!</h5>

            <ul class="list-unstyled" >
                <li>
                <a href="#!">Cara Kerja</a>
                </li>
                <li>
                <a href="#!">Buat Product Baru</a>
                </li>
                <li>
                <a href="#!">Kelola Profile Usaha</a>
                </li>
                <li>
                <a href="#!">Terms and Conditions</a>
                </li>
                <li>
                <a href="#!">Bantuan Lainnya</a>
                </li>
            </ul>

        </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <!-- <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
    </div> -->
    <!-- Copyright -->

</footer>
<!-- Footer -->
<footer class="page-footer font-small " style="background-color:#f3f3f3">
        
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
     LESGO INDONESIA PINTAR
    </div>
    <!-- Copyright -->

</footer>