<nav class="navbar navbar-expand-md navbar-dark  " style="background-color:#f3f3f3">
    <a class="navbar-brand" href="#">
        <img src="assets/img/logo-green.png" alt="Logo" style="width:75px;">
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button type="button" class="btn btn-outline-success btn-sm" style="margin-right:5px;">Login</button>
            </li>
            <li class="nav-item">
                    <a href="http://student.les-go.com/registration"><button type="button" class="btn btn-outline-success btn-sm " > Daftar </button></a>
            </li>
        </ul>
    </div>
    
    <!-- <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" id="id01" href="#" ngbDropdownToggle>Files</a>
                <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
                    <a class="dropdown-item" href="#">HTML</a>
                    <a class="dropdown-item" href="#">TS</a>
                    <a class="dropdown-item" href="#">JS</a>
                </div>
            </li>
        </ul>
    </div> -->
</nav>
<nav class="navbar navbar-expand-md navbar-dark " style="background-color: #424143;font-size: 0.8em;font-weight: 100;">
    <ul class="navbar-nav" style="margin-left: 10%;">
        <li class="nav-item">
            <a class="nav-link" href="#section1">Offline Tutoring</a>
        </li>
        <li class="nav-item">
            <span class="nav-link" >|</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#section2">Private Tutoring</a>
        </li>
        <li class="nav-item">
            <span class="nav-link" >|</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#section3">Home Schooling</a>
        </li>
        <li class="nav-item">
            <span class="nav-link" >|</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#section3">Special Education</a>
        </li>
    </ul>
</nav>

