
<section style="background-color: #424143;padding-top: 3%;padding-bottom: 2%;">
    <form class="form-inline" action="" style=" margin-left: 10%;">
        <input type="text" class="form-control mb-2 mr-sm-2" id="search" placeholder="Cari kursus / vendor" style="width:300px">
        <input type="text" class="form-control mb-2 mr-sm-2" id="location" placeholder="Lokasi">
        <select class="form-control mb-2 mr-sm-2" id="sel1" placeholder="Tingkat" style="width:150px;">
            <option>Tingkat</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <button type="submit" class="btn btn-primary mb-2" style="background-color:  #2273c0;width: 130px;margin-right: 20px;">Cari</button>
        <h6 style="color:white;">Lebih Murah via LESGO!</h6>
    </form>
</section>
<!-- <section style="background-color:#f1fff0">
    <img src="assets/img/vendor.png" alt="" style="width:100%">
</section> -->
<!-- <section style="padding:30px; ">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <img src="assets/img/partner2.png" alt="" style="width:120px">
            </div>
            <div class="col-sm-10 ">
                <p >Vendor : INTEN KALIMALANG</p>
            </div>
        </div>
    </div>
    
</section> -->
<!-- <nav class="navbar navbar-expand-md navbar-dark " style="background-color: #424143;font-size: 0.8em;font-weight: 100;">
    <ul class="navbar-nav" style="margin-left: 10%;">
        <li class="nav-item">
            <a class="nav-link" href="#section1">Informasi Vendor</a>
        </li>
        <li class="nav-item">
            <span class="nav-link" >|</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#section2">Product</a>
        </li>
    </ul>
</nav> -->
<section style="background-color: #f1f1f1;padding-top:30px">
    <div class="container" style="padding-left:5.5%; padding-right:5.5%;" >
        <div class="row">
            <!-- <div class="col-sm-3 " >
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <img src="assets/img/partner2.png" alt="" style="width:120px">
                <br>
                Intent Kalimalang
                <hr>

                <ul class="list-group">
                    <li class="list-group-item active">Informasi Partner</li>
                    <li class="list-group-item">Cabang</li>
                   
                </ul>
                
            </div> -->
            <div class="col-sm-12">
                <div class="row">
                    <img src="assets/img/vendor.png" alt="" style="width:100%; height:170px">
                    
                    <div class="col-sm-12 card" style="border-radius:0px;padding-left: 5%;padding-right: 5%;">
                        <div class="col-sm-12" style="padding:10px">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img src="assets/img/partner2.png" alt="" style="width:120px">
                                </div>
                                <div class="col-sm-10">
                                    <br>
                                    <h3>Intent Kalimalang</h3>
                                    <p>
                                        Address : Jalan Manunggal 1 Jakarta, Indonesia 13430
                                        <br>
                                        Phone   : 021.XXXXXXXXX
                                    </p>
                                </div>
                                
                                
                                
                            </div>
                            <br>
                                
                            <ngb-tabset>
                                
                                <ngb-tab>
                                    <ng-template ngbTabTitle>About</ng-template>
                                    <ng-template ngbTabContent>
                                        <br>
                                        <p>
                                                PROSUS INTEN didirikan tahun 1998, dengan nama Program Khusus Institut Teladan (PROSUS   INTEN). Lembaga pendidikan ini didirikan tidak terlepas dari arus gerakan paralel pada akhir abad    ke-20 dalam bidang revolusi belajar yang menempatkan Boby DePorter sebagai pionir dengan   model  Quantum Learning-nya yang sangat luar biasa. Ia, beserta berbagai penggagas pendekatan    pengajaran  alternatif lainnya, menjadi  ilham atas  didirikannya  PROSUS  INTEN.
                                                
                                                Inti model pengajaran di PROSUS INTEN didasarkan pada prinsip-prinsip ilmu kognitif modern   melalui  penelitian mengenai otak dan kecerdasan, Emotional Intelligence (kecerdasan emosi, red),   dan  Adversity  Quotient, kunci keberhasilan mencapai tujuan.
                                                
                                                Dengan demikian, PROSUS INTEN menyejatikan dirinya sebagai satu-satunya lembaga pendidikan    pertama di Indonesia yang menciptakan keterampilan super kepada siswanya melalui metode   terbaik  dalam mengajar yang di kalangan pakar pendidikan dunia disebut “belajar sejati” atau true    learning.
                                                
                                                Sejak didirikan, PROSUS INTEN telah berhasil mengantar siswanya masuk PTN terbaik. PROSUS    INTEN juga telah memperlihatkan diri sebagai satu-satunya bimbingan belajar dengan organisasi   yang  prima, komit dengan kerja sama tim yang sangat baik dan kompak.
                                                
                                                Standardisasi utama yang diterapkan dalam rekrutmen SDM adalah kualitas, sikap mental, akhlak,    dan  kepribadian sehingga mereka dikenal sebagai guru-guru yang sangat profesional,   menempatkan  pelayanan di atas segala-galanya dalam sebuah tanggung jawab dan kasih sayang.
                                                
                                                Semua anak berhak untuk berkembang. Yang paling berperan untuk mendukung sukses anak menuju kematangan berpikir adalah orang tua. Orang tua tidak dapat berbuat hanya sendiri. Mereka butuh partner, yaitu sekolah dan lembaga pendidikan nonformal. Dengan menemukan partner yang tepat, orang tua akan berhasil mengantarkan anaknya mencapai tujuan. Untuk itulah PROSUS INTEN ini kami selenggarakan. Sesuai dengan prinsip-prinsip ilmu kognitif modern mengenai otak dan kecerdasan dan pendekatan terbaru dalam pengajaran.
                                                
                                                Staf pengajar kami yang dikenal sangat profesional siap mendampingi orang tua dan menjadi partner mencetak anak menjadi lebih cerdas, tangguh, kreatif, inovatif, dan berkepribadian terpuji  sehingga menjadi kebanggaan orang tua, masyarakat, dan bangsa.
                                        </p>
                                        <p>
                                            Persyaratan :
                                        </p>
                                        <p>
                                            - Biaya pendaftaran tes masuk intent Rp. 200,000
                                            <br>
                                            - Jawaban benar di bawah 15 dari 30, di tolak
                                            <br>
                                            - Hasil tes untuk menentukan grade kelas A,B,C. (Harga setiap grade berbeda)
                                            <br>
                                            - Rank 1-3 di kelas 10 & 11, diskon 10%. Menunjukan Rapot. (Kecuali kelas jaminan)
                                            <br>
                                            - Kelas jaminan bebas biaya pendaftaran dan seleksi.
                                            <br>
                                            - Uang jaminan di serahkan kepada inten setelah peserta resmi menjadi peserta.
                                            <br>
                                            - Uang jaminan dikembalikan 100% jika tidak lulus PTN
                                            <br>
                                            - Untuk kelas jaminan, inten dan orang tua wajib membuat perjanjian tertulis
                                        </p>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="Produk">
                                    <ng-template ngbTabContent>
                                        <br>
                                        <div class="row" style="padding-left:2%">

                                        
                                        <div class="card" style="width:200px;padding:10px;margin-right: 25px;border-radius:  0px; margin-bottom:15px" [routerLink]="['/product-detail']">
                                            <img class="card-img-top" src="assets/img/rec-ef.png" alt="Card image">
                                            <div class="card-body" style="padding: 0;margin-top: 10px;">
                                                <div class="row">
                                                    <div class="col-sm-12 text-left">
                                                        <p style=" font-size: 10px; margin-bottom:5px"> Back to School </p>
                                                        
                                                    </div>
                                                    
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-sm-6">
                                                        <p  style="font-size: 10px; margin-bottom:0px"> 
                                                            EF
                                                            <br>
                                                            Kemang
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-6" style="margin-top:-10px">
                                                        <br>
                                                        <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                        <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 1,200,000</p>    
                                                    </div>
                                
                                                </div>
                                                <!-- <p class="card-text">Bahasa</p> -->
                                            </div>
                                        </div>
                                        <div class="card" style="width:200px;padding:10px;margin-right: 25px;border-radius:  0px; margin-bottom:15px">
                                            <img class="card-img-top" src="assets/img/rec-aritmatika.png" alt="Card image">
                                            <div class="card-body" style="padding: 0;margin-top: 10px;">
                                                <div class="row">
                                                    <div class="col-sm-12 text-left">
                                                        <p style=" font-size: 10px; margin-bottom:5px"> Jarimatika </p>
                                                        
                                                    </div>
                                                    
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-sm-6">
                                                        <p  style="font-size: 10px; margin-bottom:0px"> 
                                                            EF
                                                            <br>
                                                            Medan
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-6" style="margin-top:-10px">
                                                        <br>
                                                        <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                        <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 1,200,000</p>    
                                                    </div>
                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" style="width:200px;padding:10px;margin-right: 25px;border-radius:  0px; margin-bottom:15px">
                                            <img class="card-img-top" src="assets/img/rec-ning.png" alt="Card image">
                                            <div class="card-body" style="padding: 0;margin-top: 10px;">
                                                <div class="row">
                                                    <div class="col-sm-12 text-left">
                                                        <p style=" font-size: 10px; margin-bottom:5px"> 3 Month Private Lesson Sempoa </p>
                                                        
                                                    </div>
                                                    
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-sm-6">
                                                        <p  style="font-size: 10px; margin-bottom:0px"> 
                                                            EF
                                                            <br>
                                                            Kemang
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-6" style="margin-top:-10px">
                                                        <br>
                                                        <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                        <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 1,200,000</p>    
                                                    </div>
                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" style="width:200px;padding:10px;margin-right: 25px;border-radius:  0px; margin-bottom:15px">
                                            <img class="card-img-top" src="assets/img/rec-jerman.png" alt="Card image" style="height: 135px;">
                                            <div class="card-body" style="padding: 0;margin-top: 10px;">
                                                <div class="row">
                                                    <div class="col-sm-12 text-left">
                                                        <p style=" font-size: 10px; margin-bottom:5px"> Kursus Bahasa Jerman 5 Bulan </p>
                                                        
                                                    </div>
                                                    
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-sm-6">
                                                        <p  style="font-size: 10px; margin-bottom:0px"> 
                                                            Primagama
                                                            <br>
                                                            Jakarta
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-6" style="margin-top:-10px">
                                                        <br>
                                                        <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                        <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 5,200,000</p>    
                                                    </div>
                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" style="width:200px;padding:10px;margin-right: 25px;border-radius:  0px; margin-bottom:15px">
                                            <img class="card-img-top" src="assets/img/rec-kanji.png" alt="Card image" style="height: 135px;">
                                            <div class="card-body" style="padding: 0;margin-top: 10px;">
                                                <div class="row">
                                                    <div class="col-sm-12 text-left">
                                                        <p style=" font-size: 10px; margin-bottom:5px"> Menulis Kanji </p>
                                                        
                                                    </div>
                                                    
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-sm-6">
                                                        <p  style="font-size: 10px; margin-bottom:0px"> 
                                                            EF
                                                            <br>
                                                            Kemang
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-6" style="margin-top:-10px">
                                                        <br>
                                                        <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                        <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 1,200,000</p>    
                                                    </div>
                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" style="width:200px;padding:10px;margin-right: 25px;border-radius:  0px; margin-bottom:15px" [routerLink]="['/product-detail']">
                                            <img class="card-img-top" src="assets/img/rec-ef.png" alt="Card image">
                                            <div class="card-body" style="padding: 0;margin-top: 10px;">
                                                <div class="row">
                                                    <div class="col-sm-12 text-left">
                                                        <p style=" font-size: 10px; margin-bottom:5px"> Back to School </p>
                                                        
                                                    </div>
                                                    
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-sm-6">
                                                        <p  style="font-size: 10px; margin-bottom:0px"> 
                                                            EF
                                                            <br>
                                                            Kemang
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-6" style="margin-top:-10px">
                                                        <br>
                                                        <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                        <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 1,200,000</p>    
                                                    </div>
                                
                                                </div>
                                                <!-- <p class="card-text">Bahasa</p> -->
                                            </div>
                                        </div>
                                        <div class="card" style="width:200px;padding:10px;margin-right: 25px;border-radius:  0px; margin-bottom:15px">
                                            <img class="card-img-top" src="assets/img/rec-aritmatika.png" alt="Card image">
                                            <div class="card-body" style="padding: 0;margin-top: 10px;">
                                                <div class="row">
                                                    <div class="col-sm-12 text-left">
                                                        <p style=" font-size: 10px; margin-bottom:5px"> Jarimatika </p>
                                                        
                                                    </div>
                                                    
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-sm-6">
                                                        <p  style="font-size: 10px; margin-bottom:0px"> 
                                                            EF
                                                            <br>
                                                            Medan
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-6" style="margin-top:-10px">
                                                        <br>
                                                        <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                        <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 1,200,000</p>    
                                                    </div>
                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" style="width:200px;padding:10px;margin-right: 25px;border-radius:  0px; margin-bottom:15px">
                                            <img class="card-img-top" src="assets/img/rec-ning.png" alt="Card image">
                                            <div class="card-body" style="padding: 0;margin-top: 10px;">
                                                <div class="row">
                                                    <div class="col-sm-12 text-left">
                                                        <p style=" font-size: 10px; margin-bottom:5px"> 3 Month Private Lesson Sempoa </p>
                                                        
                                                    </div>
                                                    
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-sm-6">
                                                        <p  style="font-size: 10px; margin-bottom:0px"> 
                                                            EF
                                                            <br>
                                                            Kemang
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-6" style="margin-top:-10px">
                                                        <br>
                                                        <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                        <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 1,200,000</p>    
                                                    </div>
                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" style="width:200px;padding:10px;margin-right: 25px;border-radius:  0px; margin-bottom:15px">
                                            <img class="card-img-top" src="assets/img/rec-jerman.png" alt="Card image" style="height: 135px;">
                                            <div class="card-body" style="padding: 0;margin-top: 10px;">
                                                <div class="row">
                                                    <div class="col-sm-12 text-left">
                                                        <p style=" font-size: 10px; margin-bottom:5px"> Kursus Bahasa Jerman 5 Bulan </p>
                                                        
                                                    </div>
                                                    
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-sm-6">
                                                        <p  style="font-size: 10px; margin-bottom:0px"> 
                                                            Primagama
                                                            <br>
                                                            Jakarta
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-6" style="margin-top:-10px">
                                                        <br>
                                                        <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                        <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 5,200,000</p>    
                                                    </div>
                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" style="width:200px;padding:10px;margin-right: 25px;border-radius:  0px; margin-bottom:15px">
                                            <img class="card-img-top" src="assets/img/rec-kanji.png" alt="Card image" style="height: 135px;">
                                            <div class="card-body" style="padding: 0;margin-top: 10px;">
                                                <div class="row">
                                                    <div class="col-sm-12 text-left">
                                                        <p style=" font-size: 10px; margin-bottom:5px"> Menulis Kanji </p>
                                                        
                                                    </div>
                                                    
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-sm-6">
                                                        <p  style="font-size: 10px; margin-bottom:0px"> 
                                                            EF
                                                            <br>
                                                            Kemang
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-6" style="margin-top:-10px">
                                                        <br>
                                                        <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                        <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 1,200,000</p>    
                                                    </div>
                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" style="width:200px;padding:10px;margin-right: 25px;border-radius:  0px; margin-bottom:15px" [routerLink]="['/product-detail']">
                                            <img class="card-img-top" src="assets/img/rec-ef.png" alt="Card image">
                                            <div class="card-body" style="padding: 0;margin-top: 10px;">
                                                <div class="row">
                                                    <div class="col-sm-12 text-left">
                                                        <p style=" font-size: 10px; margin-bottom:5px"> Back to School </p>
                                                        
                                                    </div>
                                                    
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-sm-6">
                                                        <p  style="font-size: 10px; margin-bottom:0px"> 
                                                            EF
                                                            <br>
                                                            Kemang
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-6" style="margin-top:-10px">
                                                        <br>
                                                        <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                        <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 1,200,000</p>    
                                                    </div>
                                
                                                </div>
                                                <!-- <p class="card-text">Bahasa</p> -->
                                            </div>
                                        </div>
                                        <div class="card" style="width:200px;padding:10px;margin-right: 25px;border-radius:  0px; margin-bottom:15px">
                                            <img class="card-img-top" src="assets/img/rec-aritmatika.png" alt="Card image">
                                            <div class="card-body" style="padding: 0;margin-top: 10px;">
                                                <div class="row">
                                                    <div class="col-sm-12 text-left">
                                                        <p style=" font-size: 10px; margin-bottom:5px"> Jarimatika </p>
                                                        
                                                    </div>
                                                    
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-sm-6">
                                                        <p  style="font-size: 10px; margin-bottom:0px"> 
                                                            EF
                                                            <br>
                                                            Medan
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-6" style="margin-top:-10px">
                                                        <br>
                                                        <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                        <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 1,200,000</p>    
                                                    </div>
                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" style="width:200px;padding:10px;margin-right: 25px;border-radius:  0px; margin-bottom:15px">
                                            <img class="card-img-top" src="assets/img/rec-ning.png" alt="Card image">
                                            <div class="card-body" style="padding: 0;margin-top: 10px;">
                                                <div class="row">
                                                    <div class="col-sm-12 text-left">
                                                        <p style=" font-size: 10px; margin-bottom:5px"> 3 Month Private Lesson Sempoa </p>
                                                        
                                                    </div>
                                                    
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-sm-6">
                                                        <p  style="font-size: 10px; margin-bottom:0px"> 
                                                            EF
                                                            <br>
                                                            Kemang
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-6" style="margin-top:-10px">
                                                        <br>
                                                        <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                        <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 1,200,000</p>    
                                                    </div>
                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" style="width:200px;padding:10px;margin-right: 25px;border-radius:  0px; margin-bottom:15px">
                                            <img class="card-img-top" src="assets/img/rec-jerman.png" alt="Card image" style="height: 135px;">
                                            <div class="card-body" style="padding: 0;margin-top: 10px;">
                                                <div class="row">
                                                    <div class="col-sm-12 text-left">
                                                        <p style=" font-size: 10px; margin-bottom:5px"> Kursus Bahasa Jerman 5 Bulan </p>
                                                        
                                                    </div>
                                                    
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-sm-6">
                                                        <p  style="font-size: 10px; margin-bottom:0px"> 
                                                            Primagama
                                                            <br>
                                                            Jakarta
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-6" style="margin-top:-10px">
                                                        <br>
                                                        <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                        <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 5,200,000</p>    
                                                    </div>
                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" style="width:200px;padding:10px;margin-right: 25px;border-radius:  0px; margin-bottom:15px">
                                            <img class="card-img-top" src="assets/img/rec-kanji.png" alt="Card image" style="height: 135px;">
                                            <div class="card-body" style="padding: 0;margin-top: 10px;">
                                                <div class="row">
                                                    <div class="col-sm-12 text-left">
                                                        <p style=" font-size: 10px; margin-bottom:5px"> Menulis Kanji </p>
                                                        
                                                    </div>
                                                    
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-sm-6">
                                                        <p  style="font-size: 10px; margin-bottom:0px"> 
                                                            EF
                                                            <br>
                                                            Kemang
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-6" style="margin-top:-10px">
                                                        <br>
                                                        <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                        <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 1,200,000</p>    
                                                    </div>
                                
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                                
                            </ngb-tabset>
                                
                                <!-- <hr>
                                <div class="row ">
                                    <div class="col-sm-6">
                                        <p>Selasa, 5, 12, 19, 26, juli 2018</p>
                                        <p>Durasi : 60 menit x 4</p>
                                    </div>
                                    <div class="col-sm-6">
                                        Tutor : Hery Prasetio
                                    </div>
                                </div> -->
                        </div>
                        
                    </div>
                    
                </div>
                
                
            </div>
            
           
           
        </div>
        

    </div>
</section>
<section class="text-center" style="background-color: #f1f1f1;padding-top: 20px;padding-bottom: 50px;">
    <hr>
    <h4>Product Terkait</h4>
    <br>
    <div class="container">
        <div class="row">
            <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px;">
                <img class="card-img-top" src="assets/img/rec-ef.png" alt="Card image">
                <div class="card-body" style="padding: 0;margin-top: 10px;">
                    <p class="card-text">Bahasa</p>
                </div>
            </div>
            <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px;">
                <img class="card-img-top" src="assets/img/rec-aritmatika.png" alt="Card image">
                <div class="card-body" style="padding: 0;margin-top: 10px;">
                    <p class="card-text">Bahasa</p>
                </div>
            </div>
            <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px;">
                <img class="card-img-top" src="assets/img/rec-ning.png" alt="Card image">
                <div class="card-body" style="padding: 0;margin-top: 10px;">
                    <p class="card-text">Bahasa</p>
                </div>
            </div>
            <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px;">
                <img class="card-img-top" src="assets/img/rec-jerman.png" alt="Card image" style="height: 135px;">
                <div class="card-body" style="padding: 0;margin-top: 10px;">
                    <p class="card-text">Bahasa</p>
                </div>
            </div>
            <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px;">
                <img class="card-img-top" src="assets/img/rec-kanji.png" alt="Card image" style="height: 135px;">
                <div class="card-body" style="padding: 0;margin-top: 10px;">
                    <p class="card-text">Bahasa</p>
                </div>
            </div>
        </div>
        
    </div>
    <br>
    <button type="button" class="btn btn-outline-success btn-lg">Lihat Product Lainnya</button>
</section>