
<section style="background-color: #424143;padding-top: 3%;padding-bottom: 2%;">
    <form class="form-inline" action="" style=" margin-left: 10%;">
        <input type="text" class="form-control mb-2 mr-sm-2" id="search" placeholder="Cari kursus / vendor" style="width:300px">
        <input type="text" class="form-control mb-2 mr-sm-2" id="location" placeholder="Lokasi">
        <select class="form-control mb-2 mr-sm-2" id="sel1" placeholder="Tingkat" style="width:150px;">
            <option>Tingkat</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <button type="submit" class="btn btn-primary mb-2" style="background-color:  #2273c0;width: 130px;margin-right: 20px;">Cari</button>
        <h6 style="color:white;">Lebih Murah via LESGO!</h6>
    </form>
</section>
<section style="background-color:#f1fff0">
    <img src="assets/img/vendor.png" alt="" style="width:100%">
</section>
<section style="padding:30px; ">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <img src="assets/img/partner2.png" alt="" style="width:120px">
            </div>
            <div class="col-sm-10 ">
                <p >Vendor : INTEN KALIMALANG</p>
            </div>
        </div>
    </div>
    
</section>
<nav class="navbar navbar-expand-md navbar-dark " style="background-color: #424143;font-size: 0.8em;font-weight: 100;">
        <ul class="navbar-nav" style="margin-left: 10%;">
            <li class="nav-item">
                <a class="nav-link" href="#section1">Informasi Vendor</a>
            </li>
            <li class="nav-item">
                <span class="nav-link" >|</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section2">Product</a>
            </li>
        </ul>
    </nav>
<section style="background-color: #f1f1f1;padding-top:30px">
    <div class="container" >
        <div class="row">
            <div class="col-sm-3 " >
                <ul class="list-group">
                    <li class="list-group-item active">Informasi Partner</li>
                    <li class="list-group-item">Cabang</li>
                   
                </ul>
                
            </div>
            <div class="col-sm-1">

            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12 " style="border-radius:0px">
                        <div class="col-sm-12" style="padding:10px">
                            <div class="row">
                                <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px; margin-bottom:15px" [routerLink]="['/product-detail']">
                                    <img class="card-img-top" src="assets/img/rec-ef.png" alt="Card image">
                                    <div class="card-body" style="padding: 0;margin-top: 10px;">
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <p style=" font-size: 10px; margin-bottom:5px"> Back to School </p>
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-sm-6">
                                                <p  style="font-size: 10px; margin-bottom:0px"> 
                                                    EF
                                                    <br>
                                                    Kemang
                                                </p>
                                            </div>
                                            <div class="col-sm-6" style="margin-top:-10px">
                                                <br>
                                                <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 1,200,000</p>    
                                            </div>
                        
                                        </div>
                                        <!-- <p class="card-text">Bahasa</p> -->
                                    </div>
                                </div>
                                <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px; margin-bottom:15px">
                                    <img class="card-img-top" src="assets/img/rec-aritmatika.png" alt="Card image">
                                    <div class="card-body" style="padding: 0;margin-top: 10px;">
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <p style=" font-size: 10px; margin-bottom:5px"> Jarimatika </p>
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-sm-6">
                                                <p  style="font-size: 10px; margin-bottom:0px"> 
                                                    EF
                                                    <br>
                                                    Medan
                                                </p>
                                            </div>
                                            <div class="col-sm-6" style="margin-top:-10px">
                                                <br>
                                                <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 1,200,000</p>    
                                            </div>
                        
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px; margin-bottom:15px">
                                    <img class="card-img-top" src="assets/img/rec-ning.png" alt="Card image">
                                    <div class="card-body" style="padding: 0;margin-top: 10px;">
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <p style=" font-size: 10px; margin-bottom:5px"> 3 Month Private Lesson Sempoa </p>
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-sm-6">
                                                <p  style="font-size: 10px; margin-bottom:0px"> 
                                                    EF
                                                    <br>
                                                    Kemang
                                                </p>
                                            </div>
                                            <div class="col-sm-6" style="margin-top:-10px">
                                                <br>
                                                <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 1,200,000</p>    
                                            </div>
                        
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px; margin-bottom:15px">
                                    <img class="card-img-top" src="assets/img/rec-jerman.png" alt="Card image" style="height: 135px;">
                                    <div class="card-body" style="padding: 0;margin-top: 10px;">
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <p style=" font-size: 10px; margin-bottom:5px"> Kursus Bahasa Jerman 5 Bulan </p>
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-sm-6">
                                                <p  style="font-size: 10px; margin-bottom:0px"> 
                                                    Primagama
                                                    <br>
                                                    Jakarta
                                                </p>
                                            </div>
                                            <div class="col-sm-6" style="margin-top:-10px">
                                                <br>
                                                <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 5,200,000</p>    
                                            </div>
                        
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px; margin-bottom:15px">
                                    <img class="card-img-top" src="assets/img/rec-kanji.png" alt="Card image" style="height: 135px;">
                                    <div class="card-body" style="padding: 0;margin-top: 10px;">
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <p style=" font-size: 10px; margin-bottom:5px"> Menulis Kanji </p>
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-sm-6">
                                                <p  style="font-size: 10px; margin-bottom:0px"> 
                                                    EF
                                                    <br>
                                                    Kemang
                                                </p>
                                            </div>
                                            <div class="col-sm-6" style="margin-top:-10px">
                                                <br>
                                                <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 1,200,000</p>    
                                            </div>
                        
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px; margin-bottom:15px" [routerLink]="['/product-detail']">
                                    <img class="card-img-top" src="assets/img/rec-ef.png" alt="Card image">
                                    <div class="card-body" style="padding: 0;margin-top: 10px;">
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <p style=" font-size: 10px; margin-bottom:5px"> Back to School </p>
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-sm-6">
                                                <p  style="font-size: 10px; margin-bottom:0px"> 
                                                    EF
                                                    <br>
                                                    Kemang
                                                </p>
                                            </div>
                                            <div class="col-sm-6" style="margin-top:-10px">
                                                <br>
                                                <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 1,200,000</p>    
                                            </div>
                        
                                        </div>
                                        <!-- <p class="card-text">Bahasa</p> -->
                                    </div>
                                </div>
                                <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px; margin-bottom:15px">
                                    <img class="card-img-top" src="assets/img/rec-aritmatika.png" alt="Card image">
                                    <div class="card-body" style="padding: 0;margin-top: 10px;">
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <p style=" font-size: 10px; margin-bottom:5px"> Jarimatika </p>
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-sm-6">
                                                <p  style="font-size: 10px; margin-bottom:0px"> 
                                                    EF
                                                    <br>
                                                    Medan
                                                </p>
                                            </div>
                                            <div class="col-sm-6" style="margin-top:-10px">
                                                <br>
                                                <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 1,200,000</p>    
                                            </div>
                        
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px; margin-bottom:15px">
                                    <img class="card-img-top" src="assets/img/rec-ning.png" alt="Card image">
                                    <div class="card-body" style="padding: 0;margin-top: 10px;">
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <p style=" font-size: 10px; margin-bottom:5px"> 3 Month Private Lesson Sempoa </p>
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-sm-6">
                                                <p  style="font-size: 10px; margin-bottom:0px"> 
                                                    EF
                                                    <br>
                                                    Kemang
                                                </p>
                                            </div>
                                            <div class="col-sm-6" style="margin-top:-10px">
                                                <br>
                                                <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 1,200,000</p>    
                                            </div>
                        
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px; margin-bottom:15px">
                                    <img class="card-img-top" src="assets/img/rec-jerman.png" alt="Card image" style="height: 135px;">
                                    <div class="card-body" style="padding: 0;margin-top: 10px;">
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <p style=" font-size: 10px; margin-bottom:5px"> Kursus Bahasa Jerman 5 Bulan </p>
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-sm-6">
                                                <p  style="font-size: 10px; margin-bottom:0px"> 
                                                    Primagama
                                                    <br>
                                                    Jakarta
                                                </p>
                                            </div>
                                            <div class="col-sm-6" style="margin-top:-10px">
                                                <br>
                                                <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 5,200,000</p>    
                                            </div>
                        
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px; margin-bottom:15px">
                                    <img class="card-img-top" src="assets/img/rec-kanji.png" alt="Card image" style="height: 135px;">
                                    <div class="card-body" style="padding: 0;margin-top: 10px;">
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <p style=" font-size: 10px; margin-bottom:5px"> Menulis Kanji </p>
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-sm-6">
                                                <p  style="font-size: 10px; margin-bottom:0px"> 
                                                    EF
                                                    <br>
                                                    Kemang
                                                </p>
                                            </div>
                                            <div class="col-sm-6" style="margin-top:-10px">
                                                <br>
                                                <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 1,200,000</p>    
                                            </div>
                        
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px; margin-bottom:15px" [routerLink]="['/product-detail']">
                                    <img class="card-img-top" src="assets/img/rec-ef.png" alt="Card image">
                                    <div class="card-body" style="padding: 0;margin-top: 10px;">
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <p style=" font-size: 10px; margin-bottom:5px"> Back to School </p>
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-sm-6">
                                                <p  style="font-size: 10px; margin-bottom:0px"> 
                                                    EF
                                                    <br>
                                                    Kemang
                                                </p>
                                            </div>
                                            <div class="col-sm-6" style="margin-top:-10px">
                                                <br>
                                                <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 1,200,000</p>    
                                            </div>
                        
                                        </div>
                                        <!-- <p class="card-text">Bahasa</p> -->
                                    </div>
                                </div>
                                <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px; margin-bottom:15px">
                                    <img class="card-img-top" src="assets/img/rec-aritmatika.png" alt="Card image">
                                    <div class="card-body" style="padding: 0;margin-top: 10px;">
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <p style=" font-size: 10px; margin-bottom:5px"> Jarimatika </p>
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-sm-6">
                                                <p  style="font-size: 10px; margin-bottom:0px"> 
                                                    EF
                                                    <br>
                                                    Medan
                                                </p>
                                            </div>
                                            <div class="col-sm-6" style="margin-top:-10px">
                                                <br>
                                                <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 1,200,000</p>    
                                            </div>
                        
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px; margin-bottom:15px">
                                    <img class="card-img-top" src="assets/img/rec-ning.png" alt="Card image">
                                    <div class="card-body" style="padding: 0;margin-top: 10px;">
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <p style=" font-size: 10px; margin-bottom:5px"> 3 Month Private Lesson Sempoa </p>
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-sm-6">
                                                <p  style="font-size: 10px; margin-bottom:0px"> 
                                                    EF
                                                    <br>
                                                    Kemang
                                                </p>
                                            </div>
                                            <div class="col-sm-6" style="margin-top:-10px">
                                                <br>
                                                <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 1,200,000</p>    
                                            </div>
                        
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px; margin-bottom:15px">
                                    <img class="card-img-top" src="assets/img/rec-jerman.png" alt="Card image" style="height: 135px;">
                                    <div class="card-body" style="padding: 0;margin-top: 10px;">
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <p style=" font-size: 10px; margin-bottom:5px"> Kursus Bahasa Jerman 5 Bulan </p>
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-sm-6">
                                                <p  style="font-size: 10px; margin-bottom:0px"> 
                                                    Primagama
                                                    <br>
                                                    Jakarta
                                                </p>
                                            </div>
                                            <div class="col-sm-6" style="margin-top:-10px">
                                                <br>
                                                <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 5,200,000</p>    
                                            </div>
                        
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px; margin-bottom:15px">
                                    <img class="card-img-top" src="assets/img/rec-kanji.png" alt="Card image" style="height: 135px;">
                                    <div class="card-body" style="padding: 0;margin-top: 10px;">
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <p style=" font-size: 10px; margin-bottom:5px"> Menulis Kanji </p>
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-sm-6">
                                                <p  style="font-size: 10px; margin-bottom:0px"> 
                                                    EF
                                                    <br>
                                                    Kemang
                                                </p>
                                            </div>
                                            <div class="col-sm-6" style="margin-top:-10px">
                                                <br>
                                                <!-- <ngb-rating [max]="5" [rate]="3" style="color:orange; "></ngb-rating> -->
                                                <p style="font-size:10px; margin-bottom:0px; color:orange">Rp 1,200,000</p>    
                                            </div>
                        
                                        </div>
                                    </div>
                                </div>
                                
                            </div>   
                        </div>
                        
                    </div>
                    
                </div>
                
                
            </div>
            
           
           
        </div>
        

    </div>
</section>
<section class="text-center" style="background-color: #f1f1f1;padding-top: 20px;padding-bottom: 50px;">
    <hr>
    <h4>Product Terkait</h4>
    <br>
    <div class="container">
        <div class="row">
            <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px;">
                <img class="card-img-top" src="assets/img/rec-ef.png" alt="Card image">
                <div class="card-body" style="padding: 0;margin-top: 10px;">
                    <p class="card-text">Bahasa</p>
                </div>
            </div>
            <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px;">
                <img class="card-img-top" src="assets/img/rec-aritmatika.png" alt="Card image">
                <div class="card-body" style="padding: 0;margin-top: 10px;">
                    <p class="card-text">Bahasa</p>
                </div>
            </div>
            <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px;">
                <img class="card-img-top" src="assets/img/rec-ning.png" alt="Card image">
                <div class="card-body" style="padding: 0;margin-top: 10px;">
                    <p class="card-text">Bahasa</p>
                </div>
            </div>
            <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px;">
                <img class="card-img-top" src="assets/img/rec-jerman.png" alt="Card image" style="height: 135px;">
                <div class="card-body" style="padding: 0;margin-top: 10px;">
                    <p class="card-text">Bahasa</p>
                </div>
            </div>
            <div class="card" style="width:200px;padding:10px;border: 0px;margin-right: 25px;border-radius:  0px;">
                <img class="card-img-top" src="assets/img/rec-kanji.png" alt="Card image" style="height: 135px;">
                <div class="card-body" style="padding: 0;margin-top: 10px;">
                    <p class="card-text">Bahasa</p>
                </div>
            </div>
        </div>
        
    </div>
    <br>
    <button type="button" class="btn btn-outline-success btn-lg">Lihat Product Lainnya</button>
</section>